In [2]:
num=[11,5,17,18,23]
print(sum(num))

74

In [6]:
def mul_list(list) :
    product = 1
    for i in list:
         product = product * i
    return product
list1 = [11, 12, 4, 3]
print(mul_list(list1))

1584

In [7]:
num=[11,5,17,18,232,2,4]
print(min(num))

2

In [8]:
num=[11,5,17,18,232,2,4]
print(max(num))

232

In [11]:
list1 = [10,20,20,4,45,45,45,99,99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [10]:
num=[1000,298,3579,100,200,-45,900]
n=4 
num.sort()
print(num[-n:])

[298, 900, 1000, 3579]

In [12]:
list1=[11,5,17,18,232,2,4]
for num in list1:
    if num % 2==0:
        print(num, end=" ")

18 232 2 4

In [13]:
list1=[11,5,17,18,232,2,4]
for num in list1:
    if num % 2 != 0:
       print(num, end = " ")

11 5 17

In [14]:
test_list = [5, 6, [], 3, [], [], 9]
res = list(filter(None, test_list))
print(str(res))

[5, 6, 3, 9]

In [15]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy
lisa=[4,8,2,10,15,18]
lisb=Cloning(lisa)
print("Original List:",lisa)
print("After Cloning:",lisb)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [17]:
num=[11,5,17,18,232,2,4]
print(num.count(5))

1